asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-environ
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
environ
idna
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
tzdata
urllib3